@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $primary;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

input,
select,
textarea {
    outline: none;
    border: none;
}

@keyframes shake {
    0% { transform: translateX(0); }
    20% { transform: translateX(-5px); }
    40% { transform: translateX(5px); }
    60% { transform: translateX(-5px); }
    80% { transform: translateX(5px); }
    100% { transform: translateX(0); }
}

.shake {
    animation: shake 0.5s ease;
    border-bottom: 1px red solid !important;
}