$primary: #131313;
$secondary: #252525;
$tertiary: #ffffff;
$active: #F6C76C;

$font-primary: #FFFFFF;
$font-secondary: #918F8D; 
$font-active: #000000; 

$font-family: "Comfortaa";

:root {
    --secondary: #252525;
}